h2 {
  padding-top: 12px;
  margin-left: 120px;
  color: #4d6f80;
  font-size: 32px;
  display: flex;
}

.myregisterorphanages-page {
  display: flex;
}

.myregisterorphanages-page .card-container {
  width: 100%;
  height: 100%;

  padding: 16px 0px 16px 120px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
}
